{% extends 'base_general.html.twig' %}

{% block body %}

    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-primary d-inline-block mb-0">Pregunta 8</h2>
                <br>
                <h4 class="text-secondary d-inline-block mb-0">Dado el script HTML, ¿Código CSS necesario agregar a “.parent” para centrar el texto?

                    ¿Código CSS necesario agregar a “.children” para centrar el texto?
                </h4>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Content-->
            <div class="row justify-content-center">
                Con añadir  <strong> text-align:center </strong>  seria suficiente, tanto en parent como en children
            </div>
        </div>
    </section>
{% endblock %}